.container {
  background-color: rgb(25 150 218);
  color: white;
  font-style: normal;
  font-weight: 400;
  margin: 0;
}

h1 {
  display: flex;
  justify-content: center;
}

.column-one-third {
  display: inline-block;
  flex-direction: row;
  width: 33%;
  text-align: center;
  justify-content: center;
}

p {
  width: 58%;
  margin-left: 21%;
  text-align: center;
  justify-content: center;
  display: center;
}

img {
  width: 75px;
  height: 75px;
  padding-top: 25px;
}

.white-circle {
  width: 100px;
  height: 100px;
  border-radius: 500px;
  background: white;
  text-align: center;
  justify-content: center;
  margin-left: 180px;
}

* {
  box-sizing: border-box;
}
