h2 {
  color: rgb(236 95 89);
  text-align: center;
  font-family: AtlasGrotesk, sans-serif;
}

form {
  text-align: center;
  font-family: "Brandon Grotesque", sans-serif;
  font-style: normal;
  font-weight: normal;
}

#location,
#email,
#name {
  text-align: left;
  padding: 10px;
  width: 350px;
  padding-left: 3px;
  font-size: 12px;
}

.name label {
  padding-right: 310px;
  font-size: 12px;
  display: inline-block;
  text-align: center;
  border: 350px;
  color: black;
}

select {
  padding: 10px;
  width: 350px;
  padding-left: 0;
  background-color: rgb(243 243 243);
}

input.submit {
  background-color: rgb(236 95 89);
  border: 0;
  color: rgb(251 227 225);
  border-radius: 15px;
  margin-left: 250px;
  margin-top: 10px;
  padding: 10px 20px;
}

.email label {
  padding-right: 250px;
  font-size: 12px;
  display: inline-block;
  text-align: center;
  border: 350px;
  color: black;
}

.amount label {
  padding-left: 27px;
  font-size: 12px;
  display: inline-block;
  text-align: center;
  border: 350px;
  color: black;
}

.location label {
  padding-right: 210px;
  font-size: 12px;
  display: inline-block;
  text-align: center;
  border: 350px;
  color: black;
}
