.buttoneOne {
  color: white;
  background-color: purple;
  border: black;
  box-shadow: black;
}

.buttonTwo {
  color: white;
  background-color: plum;
  border: black;
  box-shadow: black;
}

.buttonThree {
  color: white;
  background-color: red;
  border: black;
  box-shadow: black;
}

.buttonFour {
  color: black;
  background-color: orange;
  border: black;
  box-shadow: black;
}

.buttonFive {
  color: black;
  background-color: yellow;
  border: black;
  box-shadow: black;
}

.buttonSix {
  color: black;
  background-color: white;
  border: black;
  box-shadow: black;
}
