.container {
  text-align: center;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

span {
  color: black;
  font-size: 40px;
}

.correct {
  color: green;
}

.wrong {
  color: red;
}

span:nth-child(7) {
  padding-right: 20px;
}

span:nth-child(15) {
  padding-right: 20px;
}

span:nth-child(20) {
  padding-right: 20px;
}

span:nth-child(26) {
  padding-right: 20px;
}

.underline {
  border-bottom: solid;
}
