.panel {
  position: relative;
  top: 100px;
  left: 40%;
  width: 500px;
  border-style: 1px solid black;
}

.title {
  width: 130px;
  height: 30px;
  font-size: 15px;
  font-style: bold;
}

.text {
  border: 1px black solid;
  margin-bottom: 0;
  margin-top: 0;
}
