h1 {
  display: inline;
  font-family: "Tiempos Headline", sans-serif;
  font-weight: 300;
  color: blue;
  font-size: 52px;
  margin-left: 60px;
}

.row1 {
  display: flex;
  justify-content: space-between;

  /* border-bottom: 1px solid grey; */
}

.row2 {
  display: flex;
  justify-content: center;
  min-height: 30vh;
}

.row3 {
  display: flex;
  justify-content: center;
  min-height: 30vh;
  text-align: center;
}

.row4 {
  display: flex;
  height: 50px;
}

.column-full {
  display: flex;
  width: 100%;
  justify-content: center;
}

.column-half {
  display: flex;
  width: 50%;
  justify-content: center;
  text-align: center;
}

.column-split {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.light-grey {
  background-color: rgb(250 250 250);
  margin-top: 50px;
  position: relative;
}

.hero {
  width: 90%;
  height: 600px;
  position: relative;
}

.pic-head {
  position: absolute;
  color: white;
  left: 170px;
  top: 160px;
  font-size: 45px;
}

.pic-text {
  position: absolute;
  color: white;
  font-size: 20px;
  left: 170px;
  bottom: 50px;
  line-height: 30px;
}

.title-text {
  padding-top: 65px;
  right: 20px;
}

h3 {
  position: absolute;
  color: rgb(134 134 134);
  font-size: 25px;
}

.grey-text {
  position: absolute;
  color: rgb(134 134 134);
  top: 45px;
}

.locations {
  position: absolute;
  color: rgb(134 134 134);
  line-height: 30px;
}

h4 {
  /* position: absolute; */
  color: rgb(134 134 134);
  font-size: 30px;
  margin-left: 50px;
}

.schedule {
  color: rgb(134 134 134);
  margin-left: 50px;
}

button {
  position: absolute;
  height: 50px;
  width: 150px;
  background-color: rgb(41 68 100);
  color: white;
  bottom: 0;
  left: 160px;
  border-style: none;
  border-radius: 10%;
}

.start {
  height: 50px;
  width: 150px;
  background-color: rgb(41 68 100);
  color: white;
  border-style: none;
  border-radius: 10%;
  margin-right: 100px;
}

span {
  padding-left: 35px;
  padding-right: 35px;
  color: grey;
}

span:last-child {
  background-color: rgb(41 68 100);
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10%;
  margin-right: 60px;
}

.dark-gray {
  width: 90%;
  height: 400px;
  background-color: rgb(82 83 81);
  margin: auto;
}
